@{
    ViewBag.Title = "index";
}

<html>
<body background="~/Resources/export-map-share.png" style="background-repeat:no-repeat; background-size:cover; padding:0; margin:0" id="bgImg">
</body>
</html>